/* NanumSquare */
@font-face {
    font-family: "NanumSquare";
    font-weight: 300;
    src: url("../assets/font/NanumSquare/NanumSquareL.eot");
    src: local("☺"),
        url("../assets/font/NanumSquare/NanumSquareL.eot?#iefix") format("embedded-opentype"),
        url("../assets/font/NanumSquare/NanumSquareL.woff2") format("woff2"),
        url("../assets/font/NanumSquare/NanumSquareL.woff") format("woff"),
        url("../assets/font/NanumSquare/NanumSquareL.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquare";
    font-weight: 400;
    src: url("../assets/font/NanumSquare/NanumSquareR.eot");
    src: local("☺"),
        url("../assets/font/NanumSquare/NanumSquareR.eot?#iefix") format("embedded-opentype"),
        url("../assets/font/NanumSquare/NanumSquareR.woff2") format("woff2"),
        url("../assets/font/NanumSquare/NanumSquareR.woff") format("woff"),
        url("../assets/font/NanumSquare/NanumSquareR.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquare";
    font-weight: 700;
    src: url("../assets/font/NanumSquare/NanumSquareB.eot");
    src: local("☺"),
        url("../assets/font/NanumSquare/NanumSquareB.eot?#iefix") format("embedded-opentype"),
        url("../assets/font/NanumSquare/NanumSquareB.woff2") format("woff2"),
        url("../assets/font/NanumSquare/NanumSquareB.woff") format("woff"),
        url("../assets/font/NanumSquare/NanumSquareB.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquare";
    font-weight: 800;
    src: url("../assets/font/NanumSquare/NanumSquareEB.eot");
    src: local("☺"),
        url("../assets/font/NanumSquare/NanumSquareEB.eot?#iefix") format("embedded-opentype"),
        url("../assets/font/NanumSquare/NanumSquareEB.woff2") format("woff2"),
        url("../assets/font/NanumSquare/NanumSquareEB.woff") format("woff"),
        url("../assets/font/NanumSquare/NanumSquareEB.ttf") format("truetype");
}

/* NanumSquare AC */
@font-face {
    font-family: "NanumSquareAc";
    font-weight: 300;
    src: url("../assets/font/NanumSquare/NanumSquareAcL.eot");
    src: local("☺"),
        url("../assets/font/NanumSquare/NanumSquareAcL.eot?#iefix") format("embedded-opentype"),
        url("../assets/font/NanumSquare/NanumSquareAcL.woff2") format("woff2"),
        url("../assets/font/NanumSquare/NanumSquareAcL.woff") format("woff"),
        url("../assets/font/NanumSquare/NanumSquareAcL.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquareAc";
    font-weight: 400;
    src: url("../assets/font/NanumSquare/NanumSquareAcR.eot");
    src: local("☺"),
        url("../assets/font/NanumSquare/NanumSquareAcR.eot?#iefix") format("embedded-opentype"),
        url("../assets/font/NanumSquare/NanumSquareAcR.woff2") format("woff2"),
        url("../assets/font/NanumSquare/NanumSquareAcR.woff") format("woff"),
        url("../assets/font/NanumSquare/NanumSquareAcR.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquareAc";
    font-weight: 700;
    src: url("../assets/font/NanumSquare/NanumSquareAcB.eot");
    src: local("☺"),
        url("../assets/font/NanumSquare/NanumSquareAcB.eot?#iefix") format("embedded-opentype"),
        url("../assets/font/NanumSquare/NanumSquareAcB.woff2") format("woff2"),
        url("../assets/font/NanumSquare/NanumSquareAcB.woff") format("woff"),
        url("../assets/font/NanumSquare/NanumSquareAcB.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquareAc";
    font-weight: 800;
    src: url("../assets/font/NanumSquare/NanumSquareAcEB.eot");
    src: local("☺"),
        url("../assets/font/NanumSquare/NanumSquareAcEB.eot?#iefix") format("embedded-opentype"),
        url("../assets/font/NanumSquare/NanumSquareAcEB.woff2") format("woff2"),
        url("../assets/font/NanumSquare/NanumSquareAcEB.woff") format("woff"),
        url("../assets/font/NanumSquare/NanumSquareAcEB.ttf") format("truetype");
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "NanumSquareAc";
    background-color: #EEEEEE;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    scale:0.9;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 900px;
    background-color: #F08000;
    border-radius: 0lvh 15lvh 0lvh 0lvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #EEEEEE;
    text-align: center;
    padding: 5vmin;
    box-sizing: border-box;
}

#app img {
    width: 70%;
    max-width: 300px;
    margin-bottom: 5vmin;
    filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(2724%) hue-rotate(303deg) brightness(114%) contrast(87%);
}

#app p {
    font-size: 4vmin;
    margin-bottom: 5vmin;
    font-weight: 900;
    letter-spacing: 0.2vmin;
}

#app button {
    background-color: transparent;
    border: 2px solid #EEEEEE;
    border-radius: 5vmin;
    padding: 2vmin 4vmin;
    color: #EEEEEE;
    font-size: 3vmin;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 4px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5vmin;
}

#app #startText {
    font-weight: bold;
    letter-spacing: 0.2vmin;
}

#app button:hover {
    background-color: #EEEEEE;
    color: #F08000;
}


/* ... 기존 코드 ... */

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 1.25rem; /* 패딩을 rem 단위로 설정 */
    border: 1px solid #888;
    width: 80%;
    max-width: 25rem; /* 최대 너비를 rem 단위로 설정 */
    border-radius: 0.625rem; /* 모서리 반경을 rem 단위로 설정 */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.3s;
}

.modal-content p {
    font-size: 1rem; /* 글씨 크기를 rem 단위로 설정 */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.confirm-button {
    background-color: #F08000; /* 주황색 배경 */
    color: #FFFFFF; /* 흰색 글씨 */
    border: none;
    padding: 0.625rem 1.25rem; /* 패딩을 rem 단위로 설정 */
    font-size: 1rem; /* 글씨 크기를 rem 단위로 설정 */
    border-radius: 0.3125rem; /* 모서리 반경을 rem 단위로 설정 */
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem; /* 위쪽 마진을 rem 단위로 설정 */
}

.confirm-button:hover {
    background-color: #D06A00; /* 호버 시 배경색 변경 */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-50px); }
    to { transform: translateY(0); }
}