@font-face {
    font-family: "NanumSquare";
    font-weight: 300;
    src: url("../assets/font/NanumSquare/NanumSquareL.eot");
    src: local("☺"),
        url("../assets/font/NanumSquare/NanumSquareL.eot?#iefix") format("embedded-opentype"),
        url("../assets/font/NanumSquare/NanumSquareL.woff2") format("woff2"),
        url("../assets/font/NanumSquare/NanumSquareL.woff") format("woff"),
        url("../assets/font/NanumSquare/NanumSquareL.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquare";
    font-weight: 400;
    src: url("../assets/font/NanumSquare/NanumSquareR.eot");
    src: local("☺"),
        url("../assets/font/NanumSquare/NanumSquareR.eot?#iefix") format("embedded-opentype"),
        url("../assets/font/NanumSquare/NanumSquareR.woff2") format("woff2"),
        url("../assets/font/NanumSquare/NanumSquareR.woff") format("woff"),
        url("../assets/font/NanumSquare/NanumSquareR.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquare";
    font-weight: 700;
    src: url("../assets/font/NanumSquare/NanumSquareB.eot");
    src: local(""),
        url("../assets/font/NanumSquare/NanumSquareB.eot?#iefix") format("embedded-opentype"),
        url("../assets/font/NanumSquare/NanumSquareB.woff2") format("woff2"),
        url("../assets/font/NanumSquare/NanumSquareB.woff") format("woff"),
        url("../assets/font/NanumSquare/NanumSquareB.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquare";
    font-weight: 800;
    src: url("../assets/font/NanumSquare/NanumSquareEB.eot");
    src: local("☺"),
        url("../assets/font/NanumSquare/NanumSquareEB.eot?#iefix") format("embedded-opentype"),
        url("../assets/font/NanumSquare/NanumSquareEB.woff2") format("woff2"),
        url("../assets/font/NanumSquare/NanumSquareEB.woff") format("woff"),
        url("../assets/font/NanumSquare/NanumSquareEB.ttf") format("truetype");
}

/* NanumSquare AC */
@font-face {
    font-family: "NanumSquareAc";
    font-weight: 300;
    src: url("../assets/font/NanumSquare/NanumSquareAcL.eot");
    src: local("☺"),
        url("../assets/font/NanumSquare/NanumSquareAcL.eot?#iefix") format("embedded-opentype"),
        url("../assets/font/NanumSquare/NanumSquareAcL.woff2") format("woff2"),
        url("../assets/font/NanumSquare/NanumSquareAcL.woff") format("woff"),
        url("../assets/font/NanumSquare/NanumSquareAcL.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquareAc";
    font-weight: 400;
    src: url("../assets/font/NanumSquare/NanumSquareAcR.eot");
    src: local("☺"),
        url("../assets/font/NanumSquare/NanumSquareAcR.eot?#iefix") format("embedded-opentype"),
        url("../assets/font/NanumSquare/NanumSquareAcR.woff2") format("woff2"),
        url("../assets/font/NanumSquare/NanumSquareAcR.woff") format("woff"),
        url("../assets/font/NanumSquare/NanumSquareAcR.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquareAc";
    font-weight: 700;
    src: url("../assets/font/NanumSquare/NanumSquareAcB.eot");
    src: local("☺"),
        url("../assets/font/NanumSquare/NanumSquareAcB.eot?#iefix") format("embedded-opentype"),
        url("../assets/font/NanumSquare/NanumSquareAcB.woff2") format("woff2"),
        url("../assets/font/NanumSquare/NanumSquareAcB.woff") format("woff"),
        url("../assets/font/NanumSquare/NanumSquareAcB.ttf") format("truetype");
}

@font-face {
    font-family: "NanumSquareAc";
    font-weight: 800;
    src: url("../assets/font/NanumSquare/NanumSquareAcEB.eot");
    src: local("☺"),
        url("../assets/font/NanumSquare/NanumSquareAcEB.eot?#iefix") format("embedded-opentype"),
        url("../assets/font/NanumSquare/NanumSquareAcEB.woff2") format("woff2"),
        url("../assets/font/NanumSquare/NanumSquareAcEB.woff") format("woff"),
        url("../assets/font/NanumSquare/NanumSquareAcEB.ttf") format("truetype");
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
    touch-action: pan-y;

    font-family: "NanumSquareAc";

    display: flex;
    flex-direction: column; /* 세로 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이 */
    padding-bottom: 50%; /* 위쪽 패딩 추가 */
}

body {
    background-color: #EEEEEE;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "NanumSquareAc";
}

.login-container {
    width: auto;
    height: 100%;
    padding: 2lvh;
    text-align: center;
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */

}

.logo {
    width: 11lvh;
    margin-bottom: 0.1lvh;
}

.title {
    font-size: 2.5lvh;
    font-weight: 900;
    margin-top: 0lvh;
    margin-bottom: 2lvh;
    color: #1B1B1B;
}

.time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.time-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.1lvh;
}

.date{
  font-size: 2lvh;
  color: #1B1B1B;
}

.time{
  font-size: 3lvh;
  color: #1B1B1B;
}
.day{
  font-size: 5lvh;
  color: #454545;
}

.login-form-container button span{
    font-family: "NanumSquareAc";
    font-weight: 900;
    font-size: 3lvh;

}
.time, .day {
    font-weight: bold;
}

.login-form-container {
    width: 35lvh;
    height: 40lvh;
    background-color: #F4F4F4;
    padding: 1lvh;
    border-radius: 1lvh;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 10px 0 15px rgba(0, 0, 0, 0.15);
    margin: 2lvh auto; /* 정가운데로 배치 */
}

.avatar {
    width:10lvh;
    height: 10lvh;
    margin: 3lvh auto 3lvh;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#username, #password {
    width: 70%;
    padding: 1lvh;
    margin-bottom: 10px;
    border: 1px solid #EBEBEB;
    background-color: #EBEBEB;
    border-radius: 50px;
    font-size: 16px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.18);
}

#username::placeholder, #password::placeholder {
    color: #C3C3C3; 
}

.login-button {
    width: 3.8lvh;
    height: 3.8lvh;
    background-color: #F08000;
    border: none;
    border-radius: 50%;
    color: #EEEEEE;
    font-size: 2lvh;
    font-weight: 700;
    text-align: center;
    line-height: 3.8lvh;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1.5lvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button i {
    font-size: 2lvh;
}

.login-button:hover {
    background-color: #D06A00;
}

/* ... 기존 코드 ... */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 60%; /* 좌우 넓이를 좁게 조정 */
    max-width: 400px; /* 최대 넓이 설정 */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirm-button {
    background-color: #F08000;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
}

.confirm-button:hover {
    background-color: #D06A00;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* ... 기존 코드 ... */


