html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
    touch-action: pan-y;

    font-family: "NanumSquareAc";
    display: flex;
    flex-direction: row; /* Changed from row to column */
    justify-content: center;
    align-items: center;
}

body {
    background-color: #EEEEEE;
    overflow-y: auto; /* 스크롤 가능하도록 설정 */
     display: grid;
    grid-template-rows: auto 1fr; /* 첫 번째 행은 자동 높이, 두 번째 행은 남은 공간 차지 */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: "NanumSquareAc";
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr; /* sticky-header와 schedule-container를 겹치지 않게 함 */
    width: 100%;
    height: 100%;
}

.previous-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.schedule-container {

    overflow-y: auto;
    gap: 1lvh;
    margin-top:3%;
}

.logo {
    width: 11lvh;
    margin-bottom: 1.6lvh;
    margin-left: -29lvh; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: center; /* Centered */
    margin-bottom: 2lvh;
}

.avatar {
    width: 8lvh;
    height: 8lvh;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover; /* Added to maintain aspect ratio */
}

.initial {
    font-size: 7lvh;
    font-weight: 900;
    color: #813DD9;
    margin-left: 3lvh;
    margin-right: 1lvh;
    display: inline-block;
    width:6lvh; /* 고정된 너비 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.time-container {
    display: flex;
    align-items: center;
    margin-left: 1lvh; /* Gap between elements */
}

.time-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5lvh;
    gap: -1lvh; /* Gap between time and date */
}

.date {
    font-size: 3lvh;
    font-weight: 500;
}

.day {
    font-size: 6lvh;
    font-weight: 800;
    color: #454545;
    margin-left: 0.2lvh;
}

.time {
    font-size: 4lvh;
    font-weight: 900;
}

.notice{
    margin-bottom: 3%;
}
.notice, .previous-records {
    background-color: #F4F4F4;
    padding: 1lvh;
    border-radius: 1lvh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left; /* Left-aligned */
    
}

.notice p, .previous-records p {
    margin: 0;
    font-size: 1.5lvh; /* Smaller font */
    font-weight: 700; /* Bolder font */
    margin-left: 1.5lvh; /* Left margin */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notice .dash, .previous-records .dash {
    font-size: 1.8lvh; 
}

.notice span, .previous-records span {
    font-size: 3lvh;
    font-weight: 900;
    color: #7B7B7B;
    margin-right: 1lvh;
}


.schedule {
    display: flex;
    flex-direction: column;
    gap: 0.4lvh; /* Wider gap between time items */
}

.schedule-item {
    background-color: #EAEAEA;
    padding: 1lvh;
    border-radius: 1lvh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.8lvh; /* Wider gap between time items */
    color: #6A6A6A;
}

.schedule-item p {
    margin: 0;
}
.worker-info {
    margin-top: 0lvh;
    margin-bottom: 0lvh;
}

.shift-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2lvh;
    
}

.location-date-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5lvh;
}

.location {
    font-size: 1.5lvh;
    font-weight: 600;
    color: #6A6A6A;
}

.location-date-container .date {
    font-size: 1.5lvh;
    font-weight: 600;
    color: #6A6A6A;
}

.shift {
    font-size: 4lvh;
    font-weight: 900;
}

.time {
    font-size: 4lvh;
    font-weight: 900;
}

/* 모달 창 스타일 */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed; /* 화면에 고정 */
    z-index: 1001; /* 다른 요소들 위에 표시 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 스크롤 가능 */
    background-color: rgb(0, 0, 0); /* 배경색 */
    background-color: rgba(0, 0, 0, 0.4); /* 투명 배경색 */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 화면 중앙에 위치 */
    padding: 1.5lvh;
    border: 1px solid #888;
    width: 15%; /* 너비 */
    max-width: 400px; /* 최대 너비 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.close {
    color: #aaa;
    float: right;
    font-size: 4lvh;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#logout-button {
    background-color: #f44336; /* 빨간색 배경 */
    color: white; /* 흰색 텍스트 */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#logout-button:hover {
    background-color: #d32f2f; /* 어두운 빨간색 배경 */
}
.sticky-header {
    position: sticky;
    top: 0;
    background-color: #EEEEEE;
    z-index: 1000;
    border-radius: 1lvh;
    margin-top: 10%;
}