html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
    touch-action: pan-y;

    font-family: "NanumSquareAc";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #EEEEEE;
    overflow-y: auto;
}

.schedule-container {
    width: 50lvh;
    height: 90lvh;
    text-align: center;
    /* background-color: #FFFFFF;
    border-radius: 1lvh;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 10px 0 15px rgba(0, 0, 0, 0.15); */
    
}

.logo {
    width: 11lvh;
    margin-bottom: 1.6lvh;
    margin-left: -29lvh; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: center; /* 가운데 정렬 */
    margin-bottom: 2lvh;
}

.avatar {
    width: 8lvh;
    height: 8lvh;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.initial {
    font-size: 7lvh;
    font-weight: 900;
    color: #813DD9;
    margin-left: 3lvh;
    margin-right: 1lvh;
}

.time-container {
    display: flex;
    align-items: center;
    margin-left: 1lvh; /* 요소 간 간격 조정 */
}

.time-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5lvh;
    gap: -1lvh; /* 시간과 날짜의 위아래 간격 조정 */
}

.date {
    font-size: 3lvh;
    font-weight: 500;
}

.day {
    font-size: 6lvh;
    font-weight: 800;
    color: #454545;
    margin-left: 0.2lvh;
}

.notice, .previous-records, #go-to-schedule {
    background-color: #F4F4F4;
    padding: 1lvh;
    border-radius: 1lvh;
    margin-bottom: 2lvh; /* 공지사항과 스케줄 간의 간격을 동일하게 설정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left; /* 왼쪽 정렬 */
}

.notice p, .previous-records p, #go-to-schedule p {
    margin: 0;
    font-size: 1.5lvh; /* 글씨체 작게 */
    font-weight: 700; /* 글씨체 두껍게 */
    margin-left: 1.5lvh; /* 좌측 마진 */
    display: flex;
    justify-content: space-between; /* 공지사항의 점을 우측 끝으로 이동 */
    align-items: center;
}

.schedule {
    display: flex;
    flex-direction: column;
    gap: 0.4lvh; /* 각 간 항목 사이의 간격을 넓힘 */
}

.schedule-item-container {
    display: flex;
    flex-direction: column;
    gap: 0.4lvh; /* 각 항목 사이의 간격을 넓힘 */
    background-color: #F4F4F4;
    padding: 1lvh;
    border-radius: 1lvh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2lvh;
}

.schedule-item {
    background-color: #EAEAEA;
    padding: 1lvh;
    margin: 0 1lvh;
    border-radius: 1lvh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
    margin-bottom: 1.8lvh; /* 각 항목 사이의 간격을 넓힘 */

}

.schedule-item p {
    margin: 0;
}

.shift-time {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.2lvh;
}

.location {
    font-size: 1.5lvh;
    font-weight: 600;
    color: #888888;
}

.shift {
    font-size: 4lvh;
    font-weight: 900;
}

.time {
    font-size: 4lvh;
    font-weight: 900;
}

.previous-records-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10lvh;
}

.previous-records {
    background-color: #E3E3E3;
    padding: 1.5lvh;
    border-radius: 1.5lvh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: left;
    position: absolute;
    top: 0;
    width: 94%;
}

.previous-records:nth-child(2) {
    background-color: #EFEFEF;
    top: 1lvh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.previous-records:nth-child(3) {
    background-color: #F4F4F4;
    top: 2lvh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.notice span {
    font-size: 1.5lvh; /* 폰트 사이즈 조정 */
    font-weight: 900;
    color: #7B7B7B;
    margin-right: 1lvh;
}

/* 모달 창 스타일 */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed; /* 화면에 고정 */
    z-index: 1001; /* 다른 요소들 위에 표시 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 스크롤 가능 */
    background-color: rgb(0, 0, 0); /* 배경색 */
    background-color: rgba(0, 0, 0, 0.4); /* 투명 배경색 */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 화면 중앙에 위치 */
    padding: 1.5lvh;
    border: 1px solid #888;
    width: 15%; /* 너비 */
    max-width: 400px; /* 최대 너비 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.close {
    color: #aaa;
    float: right;
    font-size: 4lvh;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#logout-button {
    background-color: #f44336; /* 빨간색 배경 */
    color: white; /* 흰색 텍스트 */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#logout-button:hover {
    background-color: #d32f2f; /* 어두운 빨간색 배경 */
}

.location-time {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.location-time p{
    margin: 0 1lvh;
    margin-bottom: 1lvh;
}

.location, .global-time {
    font-size: 1.5lvh;
    font-weight: 600;
    color: #888888;
}

.schedule-item-container .location-time {

    display: flex;
    justify-content: space-between;
    width: 100%;
}

.schedule-item-container .location, 
.schedule-item-container .global-time {
    font-size: 1.5lvh;
    font-weight: 600;
    color: #888888;
}

.schedule-item .time {
    font-size: 4lvh;
    font-weight: 900;
}

.worker-info{
    margin-top: 0lvh;
    margin-bottom: 0lvh;
}
.sticky-header {
    position: sticky;
    top: 0;
    background-color: #EEEEEE;
    z-index: 1000;
    padding-bottom: 1lvh;
    padding-bottom: 0lvh;
    border-radius: 1lvh;
}

.schedule-item.inactive {
    color: #6A6A6A;
}