html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -o-text-size-adjust: none;
    touch-action: pan-y;

    font-family: "NanumSquareAc";
    display: flex;
    flex-direction: row; /* Changed from row to column */
    justify-content: center;
    align-items: center;
}

body {
    background-color: #EEEEEE;
    overflow-y: auto;
    display: grid;
    grid-template-rows: auto 1fr; /* 첫 번째 행은 자동 높이, 두 번째 행은 남은 공간 차지 */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: "NanumSquareAc";
}
.grid-detail-container {
    display: grid;
    grid-template-rows: auto 1fr; /* sticky-header와 schedule-container를 겹치지 않게 함 */
    width: 100%;
    height: 100%;
}

.schedule-detail-container {
    width: 100%;
    height: 100%; /* 높이를 auto로 설정 */
    text-align: center;
    margin-top: 5%;
}

.schedule-detail-container::-webkit-scrollbar {
    width: 0; /* 스크롤바 너비를 0으로 설정하여 보이지 않게 함 */
    height: 0; /* 스크롤바 높이를 0으로 설정하여 보이지 않게 함 */
}

.schedule-detail-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.schedule-detail-container::-webkit-scrollbar {
    display: none; /* 웹킷 브라우저에서 스크롤바를 숨김 */
}


.logo {
    width: 11lvh;
    margin-bottom: 1.6lvh;
    margin-left: -4%; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: center; /* 가운데 정렬 */
    margin-bottom: 2lvh;
}

.avatar {
    width: 8lvh;
    height: 8lvh;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.initial {
    font-size: 7lvh;
    font-weight: 900;
    color: #813DD9;
    margin-left: 3lvh;
    margin-right: 1lvh;
    display: inline-block;
    width:6lvh; /* 고정된 너비 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.time-container {
    display: flex;
    align-items: center;
    margin-left: 1lvh; /* 요소 간 간격 조정 */
}

.time-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5lvh;
    gap: -1lvh; /* 시간과 날짜의 위아래 간격 조정 */
}

.date {
    font-size: 3lvh;
    font-weight: 500;
}

.day {
    font-size: 6lvh;
    font-weight: 800;
    color: #454545;
    margin-left: 0.2lvh;
}

.time {
    font-size: 4lvh;
    font-weight: 900;
}

.notice {
    background-color: #F4F4F4;
    padding: 1lvh;
    border-radius: 1lvh;
    margin-bottom: 2lvh; /* 공지사항과 스케줄 간의 간격을 동일하게 설정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left; /* 왼쪽 정렬 */
}

.notice p {
    margin: 0;
    font-size: 1.5lvh; /* 글씨체 작게 */
    font-weight: 700; /* 글씨체 두껍게 */
    margin-left: 1.5lvh; /* 좌측 마진 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notice span {
    font-size: 1.5lvh; /* 폰트 사이즈 조정 */
    font-weight: 900;
    color: #7B7B7B;
    margin-right: 1lvh;
}

.schedule-detail {
    display: flex;
    flex-direction: column;
    gap: 1lvh; /* 각 시간 항목 사이의 간격을 넓힘 */
}

.schedule-item {
    background-color: #f8f7f7;
    border-radius: 1lvh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: flex-start; /* 왼쪽 정렬 */
    margin-bottom: 2lvh; /* 각 시간 항목 사이의 간격을 넓힘 */

}

.location-time {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1lvh;
}
.location-time p{

    font-weight: 900;
}

.location-time .location{
    margin-left: 4%;
}
.location-time .time{
    margin-right: 4%;
}

.location {
    font-size: 1.5lvh;
    font-weight: 600;
    color: #888888;
}

.time {
    font-size: 1.5lvh;
    font-weight: 600;
    color: #888888;
}

.time-date .time {
    font-size: 4lvh;
    font-weight: 900;
    color: #1B1B1B;
}

.task {
    display: flex;
    flex-direction: column;
    gap: 1lvh;
    width: 100%; 
    /* 부모 요소의 너비를 100%로 설정 */
}

.task-item {
    background-color: #EAEAEA;
    padding: 1lvh;
    border-radius: 1lvh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: flex-start; /* 좌측 정렬 */
    margin: 0 1lvh;
    margin-bottom: 2lvh;
}

.task-number {
    /* background-color: #813CD9; */
    /* color: #FFFFFF; */
    background-color: #FFFFFF;
    color: #813CD9;
    font-weight: 700;
    border-radius: 1lvh; /* 위아래로 납작한 모양 */
    border: 0.15px solid #813CD9;
    width: 3.5lvh; /* 너비 조정 */
    height: 2lvh; /* 높이 조정 */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5lvh;
}
.task-number.input-active {
    background-color: #813CD9;
    color: #FFFFFF;
}

.task-name {
    font-size: 2.5lvh;
    font-weight: 800;
    color: #000000;
    text-align: left; /* 좌측 정렬 */
}

/* 모달 창 스타일 */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed; /* 화면에 고정 */
    z-index: 1001; /* 다른 요소들 위에 표시 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 스크롤 가능 */
    background-color: rgb(0, 0, 0); /* 배경색 */
    background-color: rgba(0, 0, 0, 0.4); /* 투명 배경색 */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 화면 중앙에 위치 */
    padding: 1.5lvh;
    border: 1px solid #888;
    width: 15%; /* 너비 */
    max-width: 400px; /* 최대 너비 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

.close {
    color: #aaa;
    float: right;
    font-size: 4lvh;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#logout-button {
    background-color: #f44336; /* 빨간색 배경 */
    color: white; /* 흰색 텍스트 */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#logout-button:hover {
    background-color: #d32f2f; /* 어두운 빨간색 배경 */
}
.sticky-header {
    position: sticky;
    top: 0;
    background-color: #EEEEEE;
    z-index: 1000;
    border-radius: 1lvh;
    margin-top: 10%;
}
.error-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.error-modal-content button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}